<h3>Welcome Back</h3>
<br>
<%= form_for @user, url: login_path do |f| %>
    <%= f.label name="username", value="Username:" %>
    <%= f.text_field :username %>
    <br>
    <br>
    <%= %>
    <%= f.label name="password", value="Password:" %>
    <%= f.password_field :password %>
    <br>
    <br>
    <%= f.submit "Log In" %>
<% end %>
<br>

<%= form_tag '/auth/github', method: :post do %>
    <%= submit_tag "Log In With GitHub!" %> 
<% end %>