<h3>Welcome Back</h3>
<br>
<%= form_tag ({controller: 'session', action: 'create', method: 'post'}) do %>

    <%= label name="username",  value="Username:" %>
    <%= text_field_tag name="username" %>
    <br>
    <br>
    <%= label name="password", value="Password:" %>
    <%= password_field_tag name="password" %>
    <br>
    <br>
    <%= submit_tag "Log In" %>
  
<% end %>