<h3>Join the Peleton!</h3>

<% if @user.errors.any? %>
  <div style="color:red;">
    <h4>There were some errors:</h4>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @user, url: signup_path do |f| %>
  
  <%= f.label name="username", value="Username:" %>
  <%= f.text_field :username %>
  <br>
  <br>
  <%= f.label name="email", value="E-Mail:" %>
  <%= f.text_field :email %>
  <br>
  <br>
  <%= f.label name="password", value="Password:" %>
  <%= f.password_field :password %>
  <br>
  <br>  <%= f.label name="name", value="Name:" %>
  <%= f.text_field :name %>
  <br>
  <br>
  <%= f.submit "Sign Up" %>

<% end %>