<h1>@<%= @user.username %></h1>
<h4><%= @user.name %></h4>
<% if @user == current_user %>
    <br>
    <%= form_tag user_bikes_path(@user.username), method: :get do %>
        <%= submit_tag "My Bikes" %> 
    <% end %>
    <br>
    <%= form_tag user_rides_path(@user.username), method: :get do %>
        <%= submit_tag "My Rides" %> 
    <% end %>
    <br>
<% else %>
    <br>
    <%= form_tag user_bikes_path(@user.username), method: :get do %>
        <%= submit_tag "#{@user.name}'s Bikes" %> 
    <% end %>
    <br>
    <%= form_tag user_rides_path(@user.username), method: :get do %>
        <%= submit_tag "#{@user.name}'s Rides" %> 
    <% end %>
    <br>
<% end %>
<strong>Odometer:</strong> <%= @user.mileage %> Miles
<br>
<br>
<strong>About:</strong>
<p style="max-width: 600px;"><%= @user.bio %></p> 
<br>
<% if @user == current_user %>
    <%= form_tag user_bio_path(@user.username), method: :get do %>
        <%= submit_tag "Edit Bio" %> 
    <% end %>
<% end %>