<h1><%= @user.username %></h1>
<%= form_tag user_bikes_path(@user.username), method: :get do %>
    <%= submit_tag "Bikes" %> 
<% end %>
<br>
<%= form_tag user_rides_path(@user.username), method: :get do %>
    <%= submit_tag "Rides" %> 
<% end %>
<br>
<strong>Odometer:</strong> <%= @user.mileage %> Miles
<br>
<br>
<strong>About:</strong>
<p style="max-width: 600px;"><%= @user.bio %></p> 
<br>
<% if @user == current_user %>
    <%= form_tag user_bio_path(@user.username), method: :get do %>
        <%= submit_tag "Edit Bio" %> 
    <% end %>
<% end %>