<h2>Edit Bike</h2>

<%= form_for @bike, url: edit_bike_path do |f| %>

    <% if @bike.errors.any? %>
        <div style="color:red;">
            <h4>There were some errors:</h4>
            <ul>
                <% @bike.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <% if @bike.errors[:model].any? %> 
        <div class="field_with_errors">
    <% else %>
        <div>
    <% end %>
    <%= f.label name="Model:" %>
    <%= f.text_field :model, value: @bike.model %>
    </div>
    <br>

    <% if @bike.errors[:components].any? %> 
        <div class="field_with_errors">
    <% else %>
        <div>
    <% end %>
    <h3>Components:</h3>
    <%= f.fields_for :components do |c| %>
        <%= c.label name="Category:" %>
        <%= c.text_field :category %>
        <br>     
        <br>
        <%= c.label name="Model:" %>
        <%= c.text_field :model %><br>
        <br>
    <% end %>
    </div>
    <br>
    <%= f.submit %>
<% end %> 