<h2><%= @ride.name %></h2>
Created By: <%= link_to "#{@ride.user.username}", user_path(@ride.user.username) %>
<br>
<br>
<% if !@ride.completed %>
    <% if @ride.user == current_user %>
        <%= form_tag complete_ride_path, method: :patch do %>
            <%= submit_tag "Mark Completed" %> 
        <% end %>
        <br>
    <% end %>
    <% if !@ride.users.include?(current_user) %>
        <%= form_tag join_ride_path, method: :patch do %>
            <%= submit_tag "Join Ride" %> 
        <% end %>
    <% else %>
        <%= form_tag leave_ride_path, method: :patch do %>
            <%= submit_tag "Leave Ride" %> 
        <% end %>
    <% end %>
<% else %>
    <strong>This ride has been completed.</strong>
    <br>
    <br>
    <% if @ride.users.include?(current_user) %>
        <%= form_tag edit_ride_stats_path, method: :get do %>
            <% if !current_user.current_ride_stats(@ride).time%>
                <%= submit_tag "Add Ride Time" %>
            <% else %>
                <%= submit_tag "Edit Ride Time" %>
            <% end %>
        <% end %>
    <% end %>
<% end %>
<br>
<% if @ride.user == current_user %>
    <%= form_tag edit_ride_path, method: :get do %>
        <%= submit_tag "Edit Ride" %> 
    <% end %>
    <br>
    <%= form_tag delete_ride_path, method: :delete do %>
        <%= submit_tag "Delete Ride" %> 
    <% end %>
    <br>
<% end %>
<strong>Date:</strong> <%= @ride.date %>
<br>
<br>
<strong>Location:</strong> <%= @ride.location %>
<br>
<br>
<strong>Category:</strong> <%= @ride.category %>
<br>
<br>
<strong>Distance:</strong> <%= @ride.distance %> Miles
<br>
<br>
<strong>Details:</strong> <%= @ride.about %>
<br>
<br>
<table style="width: 500px; text-align: left">
    <tr>
        <th>Participant:</th>
        <th>Time:</th>
        <th>Avg. Speed:</th>
    </tr>
    <% Participant.ride(@ride.id).leaderboard.each do |participant| %>
        <tr>
        <% user = User.find(participant.user_id) %>
        <th style="font-weight: normal"><%= link_to "#{user.username}", user_path(user.username) %></th>
        <% if user.current_ride_stats(@ride).time %>
            <th style="font-weight: normal" ><%= user.current_ride_stats(@ride).time %></th>
            <th style="font-weight: normal" ><%= user.current_ride_stats(@ride).speed %> MPH</th>
        <% else %>
            <th style="font-weight: normal">--:--:--</th>
            <th style="font-weight: normal">--</th>
        <% end %>   
        </tr> 
    <% end %>
</table>